/*https://www.w3schools.com/css/css_navbar_horizontal.asp */

ul.nav{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: blue;

}

li.nav{
    float:left;
}

li.nav a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover{
    background-color: silver;
    color:black;
}

body{
    background-color: skyblue;
    padding-left: 14px;
    
}
h1{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}